# to https
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# hidden php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# no indexfile
DirectoryIndex index.html index.php index.cgi /

# AccessControl IP/HOST
#order deny,allow
#deny from all
#allow from 202.220.206.240

